<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.core.file-transfer"
    version="0.2.0">
    <name>File Transfer</name>
    <description>Cordova File Transfer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,file,transfer</keywords>

    <dependency id="org.apache.cordova.core.file" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-file" commit="master" />

    <js-module src="www/FileTransferError.js" name="FileTransferError">
        <clobbers target="window.FileTransferError" />
    </js-module>

    <js-module src="www/FileTransfer.js" name="FileTransfer">
        <clobbers target="window.FileTransfer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileTransfer" >
                <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/FileTransfer.java" target-dir="src/org/apache/cordova/filetransfer" />
        <source-file src="src/android/FileProgressResult.java" target-dir="src/org/apache/cordova/filetransfer" />
        <source-file src="src/android/FileUploadResult.java" target-dir="src/org/apache/cordova/filetransfer" />
    </platform>

    <platform name="blackberry10">
        <config-file target="www/config.xml" parent="/widget">
            <feature name="FileTransfer" value="FileTransfer"></feature>
        </config-file>
        <js-module src="www/blackberry10/FileTransfer.js" name="BB10FileTransfer">
            <clobbers target="window.FileTransfer"></clobbers>
        </js-module>
        <js-module src="www/blackberry10/XHRImplementation.js" name="BB10XHRImplementation"></js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransfer">
                <param name="ios-package" value="CDVFileTransfer" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVFileTransfer.h" />
        <source-file src="src/ios/CDVFileTransfer.m" />
        
        <framework src="AssetsLibrary.framework" />
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransfer">
                <param name="wp-package" value="FileTransfer"/>
            </feature>
        </config-file>

        <source-file src="src/wp/FileTransfer.cs" />

        <js-module src="www/wp/FileTransfer.js" name="FileTransfer1">
            <clobbers target="window.FileTransfer" />
        </js-module>

    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransfer">
                <param name="wp-package" value="FileTransfer"/>
            </feature>
        </config-file>

        <source-file src="src/wp/FileTransfer.cs" />

        <js-module src="www/wp/FileTransfer.js" name="FileTransfer1">
            <clobbers target="window.FileTransfer" />
        </js-module>

    </platform>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="www/windows8/FileTransferProxy.js" name="FileTransferProxy">
            <clobbers target="" />
        </js-module>
    </platform>     

</plugin>
