<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core">
    version="0.1.0">
    <name>File Transfer</name>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="FileTransfer" value="org.apache.cordova.core.FileTransfer"/>
        </config-file>

        <source-file src="FileTransfer.java" target-dir="org/apache/cordova/core" />
        <source-file src="FileProgressResult.java" target-dir="org/apache/cordova/core" />
        <source-file src="FileUploadResult.java" target-dir="org/apache/cordova/core" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransfer">
                <param name="ios-package" value="CDVFileTransfer" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/CDVFileTransfer.h" />
        <source-file src="src/ios/CDVFileTransfer.m" />
    </platform>    
    
</plugin>
