<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-file-transfer-tests" version="1.6.2">
  <name>Cordova File Transfer Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
  <hook type="after_prepare" src="hooks/after_prepare.js"/>
  <preference name="FILETRANSFER_SERVER_ADDRESS" default="http://rwswbpiopr.localtunnel.me"/>
</plugin>
